<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="Servidor" value="btr3itqyjgkpayqsmsfx-mysql.services.clever-cloud.com"/>
    <add key="Puerto" value="3306"/>
    <add key="Usuario" value="uurra9sjisnoi7br"/>
    <add key="Password" value="8VviXT9zhB87DtwZSwFZ"/>
    <add key="NombreDB" value="btr3itqyjgkpayqsmsfx"/>
  </appSettings>
</configuration>